/* Hide them ads left & right*/
.left-column, .right-column{
    display:none;
}

@media screen and (max-height: 450px) {
  form > table:nth-child(1) {padding-top: 15px;}
  form > table:nth-child(1) a {font-size: 18px;}
}
/*### Filter window ###*/
form > table:nth-child(1){
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 1.5s;
  /*display:block;*/
    display:none;
    max-width: 100%;
}
form > table:nth-child(1) td{
    display:block;
    width: auto;
    z-index: 1;
    max-width: 50%;
}

/*legend*/
form > table:nth-child(2){
    display:none;
}
/*### results ###*/
/*Hide header*/
form > table:nth-child(3) > tbody > tr:nth-child(1){
    display:none;
}
/*We need the space*/
.body, table{
    padding: 0;
    margin: 0;
    border: 0;
}
/*Date and Location on single line*/
form > table:nth-child(3) > tbody > tr > td:nth-child(1), form > table:nth-child(3) > tbody > tr > td:nth-child(2), form > table:nth-child(3) > tbody > tr > td:nth-child(3){
    display:inline;
    width: 25%;
}
/*Event name and length on each line*/
form > table:nth-child(3) > tbody > tr > td:nth-child(4), form > table:nth-child(3) > tbody > tr > td:nth-child(5){
    display:inline-block;
    width: 100%;
}



/*headers*/
.center-column > .body > tbody > tr:first-child > .body > table {
display:none;
}
/*footers*/
.center-column > .body > tbody > tr:not(:first-child){
display:none;
}
